.one_page {
  padding-top: 0px;
  width: 100%;
  height: 2500px;
}
.one_page .one_lunbo {
  margin: 0;
  padding-top: 20px;
  width: 1210px;
  height: 500px;
  overflow: hidden;
  position: relative;
  left: 50%;
  margin-left: -605px;
}
.one_page ul:nth-of-type(1) {
  transform: translate(0, 0);
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 7260px;
  height: 500px;
}
.one_page li {
  width: 1210px;
  height: 500px;
  float: left;
}
.one_page .bottom_lb {
  margin: 0;
  padding: 0;
  width: 300px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -100px;
  z-index: 140;
  height: 30px;
  list-style: none;
}
.one_page .bottom_lb li {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), -2px -2px 2px rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin: 0 5px;
  float: left;
  z-index: 10;
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
}
.one_page .left_one,
.one_page .right_two {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 130;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
}
.one_page .left_one {
  left: 90px;
  opacity: 0.6;
  background: url('../images/one/left_two.png');
  background-color: rgba(0, 0, 0, 0.3);
  background-position: 10px center;
  background-size: 100% 100%;
}
.one_page .left_one:hover {
  transition: all 1s;
  color: #ffffff;
  background: url('../images/one/left_one.png');
  background-position: 10px center;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: 100% 100%;
}
.one_page .right_two {
  right: 90px;
  opacity: 0.6;
  background: url('../images/one/right_two.png');
  background-color: rgba(0, 0, 0, 0.3);
  background-position: -10px center;
  transition: all 1s;
  background-size: 100% 100%;
}
.one_page .right_two:hover {
  background: url('../images/one/right_one.png');
  background-size: 100% 100%;
  background-position: -10px center;
  background-color: rgba(0, 0, 0, 0.6);
}
.one_page .back_one,
.one_page .back_two {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.one_page .back_two {
  position: absolute;
  z-index: 100;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%);
}
.one_page .back_one {
  position: absolute;
  z-index: 120;
  background: url('../images/one/one_lunbo4.gif');
}
